# Python
__pycache__/
*.py[cod]
*$py.class
*.pyd
*.so
.Python

# Virtual environment
.venv/
venv/
ENV/
env/

# Pytest & Reports
.pytest_cache/
.cache/
# Если будешь использовать Allure в будущем
allure-results/
allure-report/

# Playwright
playwright-report/
test-results/
# Скриншоты и видео тестов (обычно хранятся в test-results, но на всякий случай)
*.png
*.mp4

# IDE (JetBrains и VS Code)
.idea/
.vscode/
*.swp
*.swo

# OS (Системные файлы)
.DS_Store
Thumbs.db

# Config & Secrets
.env
.env.*
! .env.example # Оставляем пример конфига для других разработчиков

# Logs
*.log